#container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    backdrop-filter: blur(10px);
    margin: 0 auto;
    margin-top: 150px;
    min-height: 400px;
}

.booking-title{
    font-weight:  400;
    font-size: 3em;
    padding-top: 10px;
}

.calendar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
}

