label {
    padding: 5px;
    padding-left: 40px;
    letter-spacing: 0.5px;
    font-size: 1.2em;
    font-weight: 400;
    color: #fff;
}

input {
    color: black;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 40px;
    display: inline-block;
    border: 1px solid rgb(186, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    outline: none !important;
    border: 1px solid #393E46;
}



.btn:disabled,
.btn[disabled] {
    background-color: grey;
}

.btn:hover:enabled {
    background-color: rgb(186, 0, 0);
}

.alert {
    padding: 10px;
    color: rgb(186, 0, 0);
}

.card-title {
    font-size: 2em;
    margin-left: 45px;
    color: #fff;
    font-weight: 300;
    padding-top: 40px;
}

.form-container {
    margin: 0 auto;
    width: calc(100vw/2.5);
    min-width: 400px;
    backdrop-filter: blur(10px);
}

.card{
margin-top: 100px;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    position: relative;
    right: 5%;
}