<ng-container *ngIf="selectedUser">
    <h1 mat-dialog-title>Informacje o użytkownikach</h1>
    <div mat-dialog-content>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cecha</th>
            <th scope="col">Dane</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>E-mail: </td>
            <td>{{selectedUser.username}}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Imię: </td>
            <td>{{selectedUser.firstname}}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Nazwisko: </td>
            <td>{{selectedUser.lastname}}</td>
          </tr>
          <tr *ngIf="selectedUser.reservations">
            <th scope="row">4</th>
            <td>Rezerwacje użytkownika: </td>
            <td>{{selectedUser.reservations.length}}</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Hasło: </td>
            <td>{{selectedUser.password}}</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>User is Admin: </td>
            <td><mat-checkbox [checked] = "selectedUser.isAdmin" [disabled]="true"></mat-checkbox></td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div mat-dialog-actions>
      <button mat-button (click)="onEditClick()">Edit</button>
      <button mat-button (click)="onCancelClick()">Cancel</button>
    </div>
  </ng-container>
  
  